<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Railway Bot</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="chat_window">
    <div class="top_menu">
        <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div>
        <div class="title">Railway Bot</div>
    </div>
    <ul class="messages"></ul>
    <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
            <input class="message_input" placeholder="Write a message..."/>
        </div>
        <div class="send_message">
            <div class="icon"></div>
            <div class="text">Send</div>
        </div>
    </div>
</div>
<div class="message_template">
    <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
            <div class="text"></div>
        </div>
    </li>
</div>
<script>
    (function () {
        var Message;
        const name = Math.random()
        Message = function (arg) {
            this.text = arg.text, this.message_side = arg.message_side;
            this.draw = function (_this) {
                return function () {
                    var $message;
                    $message = $($('.message_template').clone().html());
                    $message.addClass(_this.message_side).find('.text').html(_this.text);
                    $('.messages').append($message);
                    return setTimeout(function () {
                        return $message.addClass('appeared');
                    }, 0);
                };
            }(this);
            return this;
        };
        $(function () {
            var getMessageText, message_side, sendMessage, recieveMessage;
            message_side = 'right';
            getMessageText = function () {
                var $message_input;
                $message_input = $('.message_input');
                return $message_input.val();
            };
            recieveMessage = function (text) {
                var $messages, message;
                const url = '/railway'
                if (text.trim() === '') {
                    return;
                }
                const body = JSON.stringify({sender: name, message: text});
                fetch(url, {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json',
                        'Allow-Control-Allow-Origin': '*'
                    },
                    body: body
                })
                    .then(
                        response => response.json()
                    ).then(
                    message_list => {
                        message_list.forEach(message => {

                            response_text = message.text
                            if (text.trim() === '') {
                                return;
                            }
                            $('.message_input').val('');
                            $messages = $('.messages');
                            message_side = 'left'
                            message = new Message({
                                text: response_text,
                                message_side: message_side
                            });
                            message.draw();
                            $messages.animate({scrollTop: $messages.prop('scrollHeight')}, 300);
                        })
                    }
                )
                    .catch(e => {
                        console.log(e)
                    })
            };
            sendMessage = function (text) {
                var $messages, message;
                if (text.trim() === '') {
                    return;
                }
                $('.message_input').val('');
                $messages = $('.messages');
                message_side = 'right'
                message = new Message({
                    text: text,
                    message_side: message_side
                });
                message.draw();

                return $messages.animate({scrollTop: $messages.prop('scrollHeight')}, 300);
            };
            $('.send_message').click(function (e) {
                recieveMessage(getMessageText())
                return sendMessage(getMessageText());
            });
            $('.message_input').keyup(function (e) {
                if (e.which === 13) {
                    recieveMessage(getMessageText())
                    return sendMessage(getMessageText());
                }
            });
        });
    }.call(this));
</script>
</body>
</html>